[submodule "MX_Alps_hybrid.pretty"]
	path = MX_Alps_hybrid.pretty
	url = https://github.com/ai03-2725/MX_Alps_hybrid.pretty
[submodule "random-keyboard-parts.pretty"]
	path = random-keyboard-parts.pretty
	url = https://github.com/ai03-2725/random-keyboard-parts.pretty
